/*CSS Styles*/


/*RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*END RESET*/


h1 {
	font-size: 36px;
	color: white;
	line-height: 1.5;
	font-family: 'Circular STD', 'Helvetica', 'Arial', 'sans-serif';
}

.navbar {
	border: 1px solid black;
	position: fixed;
	width: 100%;
	background-color: white;
	z-index: 99999;
}

.navbar-content {
	/*border: 1px solid red;*/
	margin: 10px;
}

.clear {
	clear: both;
}

.nav-logo {
	float: left;
}

.nav-link {
	text-align: right;
	margin: 20px;
}

.nav-link > ul > li {
	display: inline;
	padding: 10px;	
}

main {
	position: absolute;
	top: 80px;
	height: 100%;
	width: 100%;
}

header {
	background: url('img/Banner_Image.png') no-repeat center center;
	height: 100%;
	background-size: cover;
}

.splash {
	position: absolute;
	top: 115px;
	left: 45px;
	width: 530px;
}

.btn {
	border: 3px solid white;
    background: none;
    padding: 12px;
    border-radius: 8px;
    width: 160px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 16px;
    outline: none;
    cursor: pointer;
}


@media (max-width: 560px) {
  .nav-logo {
    float: none;
    text-align: center;
  }

  .nav-link {
  	text-align: center;
  }
}