/*CSS Styles*/


/*RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*END RESET*/
body {
	line-height: 1.5;
	font-family: 'Circular STD', 'Helvetica', 'Arial', 'sans-serif';
}

h1 {
	font-size: 50px;
	color: white;
	line-height: 1.25;
	font-family: 'Circular STD', 'Helvetica', 'Arial', 'sans-serif';
}

h2 {
	font-size: 36px;
	color: white;
}

p {
	font-size: 24px;
	color: white;
}

.navbar {
	/*border: 1px solid black;*/
	position: fixed;
	width: 100%;
	background-color: white;
	z-index: 99999;
}

.navbar-content {
	border: 1px solid white;
	margin: 10px;
}

.clear {
	clear: both;
}

.nav-logo {
	float: left;
}

.nav-link {
	text-align: right;
	margin: 20px;
	color: #2F83B6;
	cursor: pointer;
}

.nav-link > ul > li {
	display: inline;
	padding: 10px;	
}

main {
	position: absolute;
	top: 80px;
	height: 100%;
	width: 100%;
}

header {
	background: url('img/Banner_Image.png') no-repeat center center;
	height: 100%;
	background-size: cover;
}

.splash {
	position: absolute;
	top: 130px;
	left: 130px;
	width: 630px;
}

.btn {
	border: 3px solid white;
    background: none;
    padding: 12px;
    border-radius: 8px;
    width: 160px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    outline: none;
    cursor: pointer;
}

.long-btn {
	width: 205px;
}

.btn-color {
	color: #2F83B6;
	border: 3px solid #2F83B6;
}

.services {
	background-color: #2F83B6;
	text-align: center;
}

.services h2 {
	padding-top: 40px;
}

.four-c {
	margin-top: 40px;
	margin-bottom: 40px;
}

.four-c img {
	width: 215px;
	padding: 15px;
	cursor: pointer;
}

.four-c-copy {
	padding-bottom: 40px;
	margin: auto;
	width: 800px;
}

.four-c-copy h2 {
	margin-bottom: 30px;
	padding-top: 0;
}

.calendar {
	/*border: 1px solid black;*/
	max-width: 960px;
	margin: auto;
	margin-top: 20px;
}

.calendar p{
	color: #9A9A9A;
}

.calendar h2 {
	color: #2F83B6;
}

.calendar-copy {
	/*border: 1px solid red;*/
	max-width: 500px;
	float: left;
	margin: 30px;
}

.calendar-img {
	width: 280px;
	/*border: 1px solid blue;*/
	float: right;
	margin: 25px;
}

.contract {
	/*border: 1px solid black;*/
	max-width: 960px;
	margin: auto;
	margin-top: 20px;
}

.contract p{
	color: #9A9A9A;
}

.contract h2 {
	color: #2F83B6;
}

.contract-copy {
	/*border: 1px solid red;*/
	max-width: 500px;
	float: right;
	margin: 30px;
}

.contract-img {
	width: 280px;
	/*border: 1px solid blue;*/
	float: left;
	margin: 25px;
}

.mobile {
	background: url('img/busy-background.png') no-repeat center center;
	height: 100%;
	background-size: cover;
}

.quote-content {
	max-width: 960px;
    margin: auto;
    text-align: center;
    /*border: 1px solid black;*/
    margin-top: 40px;
}

.quote-test p {
	color: #9A9A9A;
}

.quote-img {
    margin-bottom: 40px;
}

.quote-test {
    max-width: 700px;
    margin: auto;
    margin-bottom: 40px;
}

.quote-imgs img {
    padding: 40px;
}

footer {
	background-color: #2F83B6;
}

footer p {
	font-size: 14px;
}

footer h2 {
	font-size: 24px;
	font-weight: bold;
}

.small {
	font-size: 10px;
}

.footer-content {
	/*border: 1px solid black;*/
	max-width: 960px;
	margin: auto;
}

.mission {
    float: left;
    max-width: 275px;
    padding: 20px;
    margin: 22px;
    /*border: 1px solid red;*/
}

.contact {
    max-width: 275px;
    float: left;
    padding: 20px;
    margin: 22px;
    /*border: 1px solid yellow;*/
}

.bureau {
    max-width: 275px;
    float: left;
    text-align: right;
    padding: 20px;
    margin: 22px;
    /*border: 1px solid pink;*/
}

.bureau p {
	margin-top: 10px;
}

.social {
	margin-top: 15px;
}

.social img {
	padding: 5px;
	cursor: pointer;
}

.phone {
	float: left;
	max-width: 500px;
}

.phone-copy {
	float: right;
	max-width: 500px;
	text-align: center;
}

.phone img {
	width: 300px;
}

.copy-1 {
    margin-bottom: 40px;
}

.mobile-content {
	max-width: 960px;
	margin: auto;
	padding-top: 40px;
}


@media (max-width: 560px) {
  .nav-logo {
    float: none;
    text-align: center;
    margin-left: 0;
  }

  .nav-link {
  	text-align: center;
  }
}